@import url("https://infusify.netlify.app/styles/Infusify.css");

.flex-container{
    display:flex;
}
.flex-rows{
    flex-direction: row;
}

.flex-columns{
    flex-direction: column;
}

.mb{
    margin-bottom:0.8rem;
}

.ml{
    margin-left:4rem;
}

.mt{
    margin-top:1rem;
}

.text-small{
    font-size: 1rem;
    margin-left: 0.3rem;
}

.brand{
    text-decoration: none;
}

.card-subtitle{
    margin-bottom: 0.3rem;
    font-size: 1rem;
}

.card-shadow{
    height:380px;
    width:80%;
}

#card-container{
    background-color: transparent;
}

.wish-add{
    background-color: var(--light-pink) ;
    color:var(--violet) ;
    border:none ;
}

.wish-normal{
    background-color: transparent;
    color: var(--violet);
    border:1px solid var(--violet);
}

.cart-normal{
    color: var(--container-border-white);
    background-color:var(--dark-blue);
}

.card-btn-1,.card-btn-2{
    padding:0.4rem;
    border-radius:0.3rem;
    display: block;
}

.cart-add{
    background-color: var(--container-border-white) ;
    color:var(--dark-blue) ;
    border:1px solid var(--dark-blue);
}

.nav .btn-primary{
    padding:0.6em 0.8em;
}

.nav .badge{
    margin:0 1em;
}

.nav .cart-icon{
    margin-left: 0;
}

.nav .badge i{
    font-size: 1.7em;
    color: var(--light-pink);
}

.nav .brand{
    text-decoration: none;
}
.nav .badge a{
    cursor: pointer;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.nav .logo img{
    height: 50px;
}

.pink{
    background-color: var(--hot-pink);
}

.card-text-only{
    border:1px solid var(--container-border-white);
    height: 20rem;
}

.card-text-only .card-text{
    color:var(--black);
}

.card-shadow{
    height:50%;
}

.card-body1{
    margin-left: 3rem;
    margin-top: 1rem;
}

.landscape{
    padding:1rem 2rem;
    
}

.landscape h3{
    font-size: 1rem;
    font-weight: 400;
}

.landscape .card-title{
    font-size: 1.4rem;
    font-weight: bold;
}

.landscape .card-subtitle{
    font-weight: bold;
    font-size: 1.1rem;
}

.landscape .btn-success-outline{
    padding:0.3rem 0.5rem;
    border-radius: 50%;
}

.text-big{
    font-size: 1rem;
}

.landscape .more{
    padding:0.3rem 0.6rem;
}

.landscape .card-body{
    border:none;
}

.cut-off{
    text-decoration: line-through;
}

.landscape .cut-off{
    font-size: 1.1rem;
    padding-left: 3rem;
    color:var(--card-icon-black);
}

.end{
    position: absolute;
    right:0;
}

.card-text,.card-subtitle{
    position: relative;
}